.aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 45px;
    text-align: center;
}

.hr {
    width: 39.75px;
    height: 0px;
    order: none;
    border-top: 3px solid #000000;
    margin-bottom: 30px;
}